<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
<head>

    {% block head %}
    {% endblock %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}Seaside{% endblock title %}</title>

    <link rel="icon" href="/static/favicon.ico">
    <!--  Bootstrap -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- self defined css -->
    <link rel="stylesheet" href="/static/seaside.css">

    {% block scripts %}
    {{ moment.include_moment() }}
    {% endblock %}

</head>


<body>
    <!-- 导航栏 -->
    <div class="blog-masthead">
        <div class="container">
            <div class="blog-nav">

                <div class="col-md-11"> <!--this element is floated left-->
                <a class="blog-nav-item active" href="{{ url_for('main.index') }}">
                    <span class="nav-tittle">Seaside</span> <span class="nav-sub-title">メイド喫茶</span>
                </a>
                </div>

                <div class="dropdown col-md-1">
                {% if current_user.is_authenticated %}
                <a href="#" class="blog-nav-item nav-sub-tittle-pos" data-toggle="dropdown">账户<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('auth.change_password') }}">变更密码</a></li>
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">个人资料</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                 </ul>
                 {% else %}
                 <a href="{{ url_for('auth.login') }}" class="blog-nav-item nav-sub-tittle-pos">登陆</a>
                 {% endif %}
                 </div>

            </div>
        </div>
    </div>

	<div class="container">

        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        <div class="container">
            <div class="row">

                <div class="sidebar">
                    {% block sidebar_content %}
                    {% endblock %}
                </div>

                <div class="main-content">
                    {% block page_content %}
                    {% endblock %}
                </div>

                <div class="footer">
                    <b>それでも町は廻っている</b>
                    <a href="#">Hire me</a>
                    <a href="#">About</a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>