{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}

<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% include '_posts.html' %}

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endblock %}

{% block sidebar_content %}
<h1>啥也没有呀</h1>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{#    {{ pagedown.include_pagedown() }}#}
{% endblock %}


