{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block page_content %}
<div id="page-header">
    <h2>
        {% if current_user.is_authenticated %}欢迎回来, 亲爱的主人 ⁄(⁄ ⁄•⁄ω⁄•⁄ ⁄)⁄.
        {% else %}
            你好啊, 新来的客人 (｡･ω･)ﾉﾞ
        {% endif %}
    </h2>
</div>
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
{% include '_posts.html' %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endblock %}

{% block sidebar_content %}
<h1>啥也没有呀</h1>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}


